@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl font-bold text-center;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600 underline;
}

.swiper-slide-prev {
  @apply bg-base-300 card text-primary-content box-border shadow-2xl;
  visibility: visible !important;

}

.swiper-slide-next {
  @apply bg-base-300 card text-primary-content box-border shadow-2xl;
  visibility: visible !important;

}

.swiper-slide-active {
  @apply bg-base-300 card text-primary-content box-border shadow-2xl;
  visibility: visible !important;


}

.swiper-slide {
  height: 16rem !important;
  visibility: hidden;
}

.swiper-slide-shadow {
  display: none;
}

.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}